In [1]:
import numpy as np
from odo import odo
import pandas as pd
from blaze import Data, by, join, merge
from iocsv import Tweet01, IO_csv, parse_tweet, fields01
from twapi import TwitterApi
import os

In [2]:
t = TwitterApi()
q="ApacheSpark"
tsearch=t.searchTwitter(q)

INFO:TwitterApi:info in searchTwitter - got 20                     tweets - max: 10

In [5]:
tsearch
data = []
for d in tsearch:
    data.append(parse_tweet(d))
csv_data = IO_csv(os.path.join(os.getcwd(),'data/csv'),'result')
csv_data.save(data, "Tweet01", fields01)

In [4]:
df = pd.DataFrame(csv_data.load("Tweet01",fields01), columns=Tweet01._fields)
df.head()

,id,created_at,user_id,user_name,tweet_text,url
0,id,created_at,user_id,user_name,tweet_text,url
1,id,created_at,user_id,user_name,tweet_text,url
2,696031515382145024,Sat Feb 06 18:03:39 +0000 2016,,,,
3,696031451771305984,Sat Feb 06 18:03:24 +0000 2016,,,,
4,696031435728158720,Sat Feb 06 18:03:20 +0000 2016,,,,

In [14]:
bz_df = Data(df)
bz_df.schema

dshape("""{
  id: ?string,
  created_at: ?string,
  user_id: ?string,
  user_name: ?string,
  tweet_text: ?string,
  url: ?string
  }""")

In [17]:
tsearch[0].keys()

[u'contributors',
 u'truncated',
 u'text',
 u'is_quote_status',
 u'in_reply_to_status_id',
 u'id',
 u'favorite_count',
 u'source',
 u'retweeted',
 u'coordinates',
 u'entities',
 u'in_reply_to_screen_name',
 u'in_reply_to_user_id',
 u'retweet_count',
 u'id_str',
 u'favorited',
 u'retweeted_status',
 u'user',
 u'geo',
 u'in_reply_to_user_id_str',
 u'possibly_sensitive',
 u'lang',
 u'created_at',
 u'in_reply_to_status_id_str',
 u'place',
 u'metadata']